{% extends 'layout.html.twig' %}

{% block title %}Graveyard Book- Add{% endblock %}

{% block content %}
    <div>
        <img  src="https://tinyurl.com/y5l335pn" width="100%" alt="Cemetery of Graveyard Book">
    </div>
    <br>
    <h1>Add a new character</h1>
    {% include 'Character/_formChar.html.twig' %}
{% endblock %}
